.container-fluid, .container-xl, .cards-container{
    margin: auto 10rem;
}

.container-xl{
  width: fit-content;
}

body > *:not(nav) {
  margin-bottom: 2rem;
}

.card-img-top.contain{
    width: 100%;
    height: 180px;
    object-fit: contain;
    object-position: center;
    background-color: #f5f5f5;
    display: block;
}

.modules-container{
  margin: 2rem 0;
}

.wrapper{
  margin: 3rem 0;
  display: flex;
  flex-direction: row;
}

.img-container{
  display: flex;
  flex-direction: column;
}

.img-container img{
  width: 30rem;
  height: 30rem;
  object-fit: contain;
  object-position: center;
  border: 1px solid black;
  margin-bottom: 0.5rem;
}

