.container-fluid, h1, .cards-container{
    margin: auto 10rem;
}

body > *:not(nav) {
  margin-bottom: 2rem;
}

.card-img-top.contain{
    width: 100%;
    height: 180px;
    object-fit: contain;
    object-position: center;
    background-color: #f5f5f5;
    display: block;
}

